*{
    box-sizing: border-box !important;  
}

.task-added{
    margin: 8vh 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#task-form{
    margin-top: 5vh;
    display: flex;
    justify-content: center;

}

.form-container{
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#task-form > div {
    margin: 0 6vh;
}

.filter-container{
    margin:  6vh 9vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.form-component{
    display: flex;
    flex-direction: column;
}

.status-select{
    display: flex;
    flex-direction: column;
}

/*Validation messages styles*/
.err-msg{
    color: #BD2424;
    font-size: 0.85em;
}

.hide-message{
    visibility: hidden;
}