*{
    box-sizing: border-box !important;  
}

.task-added{
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-container{
    margin:  6vh 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}